<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h2>
        <%= gravatar_for @user, :size => 60 %>
        <%= @user.email %>
      </h2>
        <% unless @user.microposts.empty? %>
          <table class="microposts" summary="User microposts">
            <%= render @microposts %>
          </table>
          <%= will_paginate @microposts %>
        <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_url(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %><br />
      <% if @user.admin? %>
        <strong> --&gt; Admin &lt;-- </strong><br />
      <% else %>
        <br />
      <% end %>
      <% if signed_in? && current_user == @user %>
        <strong><%= link_to 'Edit Profile', edit_user_path(current_user) %></strong>
      <% end %>
    </td>
  </tr>
</table>

